@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* || RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* || VARIABLES */
:root {
  /* COLOURS */
  --bgcolor: hsl(212, 45%, 89%);
  --pcolor: hsl(216, 15%, 48%);
  --hdcolor: hsl(218, 44%, 22%);
  --ftcolor: hsl(228, 45%, 44%);
  /* FONT */
  --fntfam: "Outfit";
}

/* || GENEREAL STYLES */
body {
  background-color: var(--bgcolor);
  font-family: var(--fntfam);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* ||MEDIA QUERIES */
@media screen and (min-width: 1440px) {
  .qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 479px;
    background-color: hsl(0, 0%, 100%);
    padding-top: 16px;
    border-radius: 15px;
  }

  .qr-code-image {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin-bottom: 24px;
  }
  .qr-code-text {
    width: 288px;
    height: 131px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .qr-code-title {
    font-weight: 700;
    font-size: 22px;
    width: 256px;
    height: 52px;
    text-align: center;
    line-height: 120%;
    margin-bottom: 16px;
    color: var(--hdcolor);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.111);
  }
  .qr-code-description {
    font-size: 15px;
    font-weight: 400;
    width: 256px;
    height: 63px;
    text-align: center;
    line-height: 150%;
    color: var(--pcolor);
  }
  .attribution {
    margin-top: 20px;
    font-family: "Outfit";
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: var(--ftcolor);
  }
}
@media screen and (min-width: 375px) {
  .qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 479px;
    background-color: hsl(0, 0%, 100%);
    padding-top: 16px;
    border-radius: 15px;
  }

  .qr-code-image {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin-bottom: 24px;
  }
  .qr-code-text {
    width: 288px;
    height: 131px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .qr-code-title {
    font-weight: 700;
    font-size: 22px;
    width: 256px;
    height: 52px;
    text-align: center;
    line-height: 120%;
    margin-bottom: 16px;
    color: var(--hdcolor);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.111);
  }
  .qr-code-description {
    font-size: 15px;
    font-weight: 400;
    width: 256px;
    height: 63px;
    text-align: center;
    line-height: 150%;
    color: var(--pcolor);
  }
  .attribution {
    margin-top: 20px;
    font-family: "Outfit";
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: var(--ftcolor);
  }
}

a:any-link {
  color: blue;
  text-decoration: none;
}
/* || DARK MODE */
@media (prefers-color-scheme: light) {
  :root {
    --bgcolor: rgba(0, 0, 0, 0.806);
    --ftcolor: white;
  }
  .attribution {
    color: white;
  }
  a:any-link {
    color: white;
  }
}
